.main-nav {

    &.mat-list-base .mat-list-item {
        height: inherit!important;
    }

    &.mat-list-base .mat-list-item .mat-list-item-content {
        justify-content: center;
        font-size: 1.2em;
        padding: 0.8em 0.5em;
    }

    &.mat-list-base .mat-list-item .mat-list-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
        padding: 10px;
    }

}
