:host {
    display: block;
    height: 100%;
}

.default-admin-content-layout {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-bottom: 0.5em;
}
