.nav-button {
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 0 0 50% 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    z-index: 999;
}

@mixin navigation-button-component-theme($theme) {
    $background: map-get($theme, background);

    .nav-button-bg {
        background-color: mat-color($background, card);
    }
}
